/* règle pour le fond de la rangée pour les avatars avec la planète */

/* ajout et modification des règles bootstrap pour les "cards" bootstrap, au delà 
de 768px pour le cacher et moins de 768px pour l'afficher */

@media (max-width: 768px){
    
    .card{
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(0, 0, 0, 0);
    }

    .card-deck{
        flex-direction: row;
    }

    .rang_avion img{
        visibility: hidden;
    }
}

@media (min-width: 769px){
    .card-deck{
        visibility: hidden;
    }
    
}

@keyframes rotation {
    1% {
        transform: rotate(10deg);
    }
    
    100% {
        transform:  rotate(300deg);
    }
}