.box{
    border: 2px solid black;
}

.rang_avion{
    background-image: url("PlaneAirWild.png");
    background-position: center;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    animation: mymove 5s;           /* animation translation */
    animation-timing-function: linear;
    position: relative;
/*   justify-content: center; */
    
}

.hublot{
    border: 2px solid lightgrey;
    background-color: lightgray;
    border-radius: 15px;
    height: 60px;
    padding-left: 10px;
    padding-top: 5px;
    height: 65px;
    margin-top: 15px;
}

.col-1{
    margin-right: 10px;
}

img{
    max-width: 100%;
    box-shadow: black;
}

@keyframes mymove {
    from {left: -600px;}
    to {left: 1px;}
}

@keyframes masuperanimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) rotate(30deg);
    }
}


.terre {
    overflow:hidden;
    position: fixed;
    z-index: -1;
    bottom: -60vw;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    left: 3vh;
  }
.terra {
   
  display: block;
  z-index: -1;
  bottom: -50vw;
  margin-left: 0 auto; 
  margin-right: 0 auto; 
  bottom: 0vh;
  width: 90%;

  -webkit-animation: rotating 60s linear infinite;
}

.rowb{
    z-index: 1;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
