.box{
    border: 2px solid black;
}

.rang_avion{
    background-image: url("PlaneAirWild.png");
    background-position: center;
    height: 60vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    animation: mymove 5s;           /* animation translation */
    animation-timing-function: linear;
    position: relative;
/*   justify-content: center; */
    
}

.hublot{
    border: 2px solid black;
    background-color: black;
    border-radius: 15px;
    height: 60px;
    padding-left: 10px;
    padding-top: 5px;
    height: 65px;
    margin-top: 15px;
}

img{
    max-width: 100%;
    box-shadow: black;
}

@keyframes mymove {
    from {left: -600px;}
    to {left: 100px;}
}

@keyframes masuperanimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) rotate(30deg);
    }
}
