.box{
    border: 2px solid black;
}

.rang_avion{
    background-image: url("avion_bs4.png");
    background-position: center;
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    animation: mymove 5s;
    animation-timing-function: linear;
    position: relative;
/*   justify-content: center; */
    
}

img{
    max-width: 100%;
    box-shadow: black;
}

@keyframes mymove {
    from {left: -600px;}
    to {left: 100px;}
}