/*body start*/
*
{
	box-sizing: border-box;
}
body
{
  background-color: #85D6F3;
  overflow-x: hidden;
  /*rajoutSim*/
  height: 100vh;
	margin: 0;
  padding: 0;
  /*rajoutSim*/
}
.container-fluid
{
	padding: 0;
	 overflow:hidden;
}
/*body start*/

/*container start*/
h1
{
	text-align: center;
	margin-top: 50px;
	font-size: 4rem;
	color: #000000;
}
.tr, .pl, .cl{
    border: solid red;
}
.ima

.container{
   overflow:hidden;
    border: solid;
    background-color:#b4ddf0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}



.image {
    position: absolute;
    top: 45%;
    margin: 0 auto;
    text-align: center;
    animation:spin 38s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


#background-wrap {
  bottom: 0;
left: 0;
padding-top: 50px;
position: fixed;
right: 0;
top: 0;
z-index: -1;
}


@-webkit-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
-webkit-animation: animateCloud 5s linear infinite;
-moz-animation: animateCloud 5s linear infinite;
animation: animateCloud 5s linear infinite;

-webkit-transform: scale(0.65);
-moz-transform: scale(0.65);
transform: scale(0.65);
}


.cloud {
	background-size:cover;
	background-image: url('n3.png');
	background-repeat: no-repeat;
	height: 520px;
	position: relative;
	width: 450px;
	/*min-width: 50%;*/
}
  .world_alone
  {
  	text-align: center;
  }
/*container end*/

/*footer start*/
.container_footer a
{
	color: #000000;

}
.footer_project
{
  background-color: #F8F9FA;
  /*rajoutSim*/
  position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   /*rajoutSim*/
}
.plane{
  width: 100%;
  height: 100%;
	padding-bottom: 100px;
}
.row
{
	padding: 1px;
}
.container_footer a:hover
{
	text-decoration: none;
	color: #85D6F3;

}
.col-sm-2
{
	padding-left: 45px;
}
.col-sm
{
	text-align: right;
	padding-right: 60px;
}

.avatarplane {
		position: relative;
		left: 120px;
		bottom: 80px;
}
.avatar {
	position: absolute;
	padding-top: 28%;
	padding-left: 26%;
}
.imgAvatar {
	padding: 1.8%;
}
.grande{
    max-width: 1200px;
}
.modal-header {
  display: inline-block;
  background-color: #FFC34A;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
.modal-content {
  border-radius: 2em;
}
.modal-footer {
  background-color: #FFC34A;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.lgfooter img {
	height: 60px;
	width: 60px;
}
.xsfooter img {
	height: 40px;
	width: 40px;
}
.barcode {
  background: url(barcode1.gif);
}
.paragraph {
  margin-top: 50px;
}
.pass h5 {
  font-size: 20px;
}
